.search-icon {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 100;
}
.info-icon {
  position: absolute;
  left: -2.25em;
  height: 100%;
  z-index: 100;
}

::ng-deep .was-validated .ng-invalid + .search-icon {
  display: none;
}
