.header-select .col {
  min-width: 100px;
}

.day-cell.btn {
  vertical-align: middle;
  width: 15rem;
  height: 2rem;
  background: #FFFFFF;
  border-color: #FFFFFF;
}

.day-cell.btn.bg-primary, .day-cell.btn.bg-info {
  color: #FFFFFF;
}

.day-cell.btn:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.day-cell.btn.bg-hovered {
  background-color: rgba(23, 162, 184, 0.50) !important;
}
